.dropdown {
  position: relative;
}

.input {
  width: 100%;
  border-radius: 0.375rem;
}

.input:hover {
  cursor: pointer;
  border-color: rgb(99 102 241);
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  --tw-ring-color: rgb(99 102 241);
}

.button {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  padding: 0rem 0.5rem 0rem 0.5rem;

  /* width: 100%; */
  /* cursor: default; */
  /* border-width: 0px; */
  /* border-bottom-width: 1px; */
  /* border-radius: 0.375rem; */
  /* border-color: rgb(209 213 219); */
  /* background-color: rgb(255 255 255); */
  /* text-align: left; */
  /* box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05); */
}

.button:focus {
  cursor: pointer;
  border-color: rgb(99 102 241);
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  --tw-ring-color: rgb(99 102 241);
}

.flexcenter {
  display: flex;
  align-items: center;
}

.selectedOnline {
  background-color: rgb(74 222 128);
}

.selectedOffline {
  background-color: rgb(229 231 235);
}

.selectedStatus {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  flex-shrink: 0;
  border-radius: 9999px;
}

.selectedLabel {
  color: black;
  margin: 0.75rem;
  display: block;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.buttoniconwrapper {
  pointer-events: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.buttonicon,
.buttoniconGray {
  height: 1.25rem;
  width: 1.25rem;
}

.buttoniconGray {
  color: rgb(156 163 175);
}

/* .transition {
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 100ms;
}

.transitionFrom {
  opacity: 1;
}

.transitionTo {
  opacity: 0;
} */

.dropdownContainer {
  position: absolute;
  z-index: 10;
  margin-top: 0.25rem;
  max-height: 30rem;
  width: 100%;
  overflow: auto;
  border-radius: 0.375rem;
  background-color: rgb(255 255 255);
  padding: 0.25rem 0rem 0.25rem 0rem;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  --tw-ring-color: rgb(0 0 0);
  --tw-ring-opacity: 0.05;
}

.dropdownContainer:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dropdownOption {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.bgindigo {
  background-color: rgb(79 70 229);
}

.dropdownInactive {
  color: rgb(17 24 39);
}

.textwhite {
  color: rgb(255 255 255);
}

.textindigo {
  color: rgb(79 70 229);
}

.dropdownActiveIconWrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.dropdownOnlineIcon {
  display: inline-block;
  flex-shrink: 0;
  border-radius: 9999px;
  height: 0.5rem;
  width: 0.5rem;
}

.normal {
  /* font-weight: 400; */
}

.semibold {
  /* font-weight: 600; */
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
