/* Set up basic styles for columns and container */
 .container {
    height: 100%;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f5f5f5;
  }
  
  .column {
    flex-basis: 48%;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  /* Set up media query for mobile devices */
  @media screen and (max-width: 900) {
    /* Stack columns vertically */
    .container {
      flex-direction: column;
    }
  
    /* Set full width for columns on mobile */
    .column {
      flex-basis: 100%;
    }
  }
  
.borderCircle {
    border-radius: 9999px;
}

